body {
    padding: 0;
    font-size: 11pt;
}

.no-print {
    display: none;
}

a {
    color: #000;
    text-decoration: none;
}

h2 {
    margin-top: 20px;
    break-after: avoid;
}

@page {
    margin: 0.5in;
}

.job-entry,
li {
    break-inside: avoid;
}
